In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Data/uber.csv")
df

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...,...
199995,42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

In [5]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Create separate columns for year, month, and time
df['year'] = df['pickup_datetime'].dt.year
df['month'] = df['pickup_datetime'].dt.month
df['time'] = df['pickup_datetime'].dt.time

print(df)

        Unnamed: 0                            key  fare_amount  \
0         24238194    2015-05-07 19:52:06.0000003          7.5
1         27835199    2009-07-17 20:04:56.0000002          7.7
2         44984355   2009-08-24 21:45:00.00000061         12.9
3         25894730    2009-06-26 08:22:21.0000001          5.3
4         17610152  2014-08-28 17:47:00.000000188         16.0
...            ...                            ...          ...
199995    42598914   2012-10-28 10:49:00.00000053          3.0
199996    16382965    2014-03-14 01:09:00.0000008          7.5
199997    27804658   2009-06-29 00:42:00.00000078         30.9
199998    20259894    2015-05-20 14:56:25.0000004         14.5
199999    11951496   2010-05-15 04:08:00.00000076         14.1

                 pickup_datetime  pickup_longitude  pickup_latitude  \
0      2015-05-07 19:52:06+00:00        -73.999817        40.738354
1      2009-07-17 20:04:56+00:00        -73.994355        40.728225
2      2009-08-24 21:45:00+00:00        -74.005043        40.740770
3      2009-06-26 08:22:21+00:00        -73.976124        40.790844
4      2014-08-28 17:47:00+00:00        -73.925023        40.744085
...                          ...               ...              ...
199995 2012-10-28 10:49:00+00:00        -73.987042        40.739367
199996 2014-03-14 01:09:00+00:00        -73.984722        40.736837
199997 2009-06-29 00:42:00+00:00        -73.986017        40.756487
199998 2015-05-20 14:56:25+00:00        -73.997124        40.725452
199999 2010-05-15 04:08:00+00:00        -73.984395        40.720077

        dropoff_longitude  dropoff_latitude  passenger_count  year  month  \
0              -73.999512         40.723217                1  2015      5
1              -73.994710         40.750325                1  2009      7
2              -73.962565         40.772647                1  2009      8
3              -73.965316         40.803349                3  2009      6
4              -73.973082         40.761247                5  2014      8
...                   ...               ...              ...   ...    ...
199995         -73.986525         40.740297                1  2012     10
199996         -74.006672         40.739620                1  2014      3
199997         -73.858957         40.692588                2  2009      6
199998         -73.983215         40.695415                1  2015      5
199999         -73.985508         40.768793                1  2010      5

            time
0       19:52:06
1       20:04:56
2       21:45:00
3       08:22:21
4       17:47:00
...          ...
199995  10:49:00
199996  01:09:00
199997  00:42:00
199998  14:56:25
199999  04:08:00

[200000 rows x 12 columns]

In [6]:

df['key'] = pd.to_datetime(df['key'])

df['year'] = df['key'].dt.year
df['month'] = df['key'].dt.month
df['time'] = df['key'].dt.time

print(df)

        Unnamed: 0                           key  fare_amount  \
0         24238194 2015-05-07 19:52:06.000000300          7.5
1         27835199 2009-07-17 20:04:56.000000200          7.7
2         44984355 2009-08-24 21:45:00.000000610         12.9
3         25894730 2009-06-26 08:22:21.000000100          5.3
4         17610152 2014-08-28 17:47:00.000000188         16.0
...            ...                           ...          ...
199995    42598914 2012-10-28 10:49:00.000000530          3.0
199996    16382965 2014-03-14 01:09:00.000000800          7.5
199997    27804658 2009-06-29 00:42:00.000000780         30.9
199998    20259894 2015-05-20 14:56:25.000000400         14.5
199999    11951496 2010-05-15 04:08:00.000000760         14.1

                 pickup_datetime  pickup_longitude  pickup_latitude  \
0      2015-05-07 19:52:06+00:00        -73.999817        40.738354
1      2009-07-17 20:04:56+00:00        -73.994355        40.728225
2      2009-08-24 21:45:00+00:00        -74.005043        40.740770
3      2009-06-26 08:22:21+00:00        -73.976124        40.790844
4      2014-08-28 17:47:00+00:00        -73.925023        40.744085
...                          ...               ...              ...
199995 2012-10-28 10:49:00+00:00        -73.987042        40.739367
199996 2014-03-14 01:09:00+00:00        -73.984722        40.736837
199997 2009-06-29 00:42:00+00:00        -73.986017        40.756487
199998 2015-05-20 14:56:25+00:00        -73.997124        40.725452
199999 2010-05-15 04:08:00+00:00        -73.984395        40.720077

        dropoff_longitude  dropoff_latitude  passenger_count  year  month  \
0              -73.999512         40.723217                1  2015      5
1              -73.994710         40.750325                1  2009      7
2              -73.962565         40.772647                1  2009      8
3              -73.965316         40.803349                3  2009      6
4              -73.973082         40.761247                5  2014      8
...                   ...               ...              ...   ...    ...
199995         -73.986525         40.740297                1  2012     10
199996         -74.006672         40.739620                1  2014      3
199997         -73.858957         40.692588                2  2009      6
199998         -73.983215         40.695415                1  2015      5
199999         -73.985508         40.768793                1  2010      5

            time
0       19:52:06
1       20:04:56
2       21:45:00
3       08:22:21
4       17:47:00
...          ...
199995  10:49:00
199996  01:09:00
199997  00:42:00
199998  14:56:25
199999  04:08:00

[200000 rows x 12 columns]

In [8]:
df["pickup_latitude"].unique()

array([40.73835373, 40.728225  , 40.74077   , ..., 40.74391937,
       40.72121   , 40.72545242])

In [7]:
df["pickup_longitude"].unique()

array([-73.99981689, -73.994355  , -74.005043  , ..., -73.969204  ,
       -74.003548  , -73.99712372])